{% extends 'layout.html' %}

{% block body %}
	{% for article in articles %}
		<article class="article intro">
			<header>
				<p class="date">
					<span>{{ article.metadata.date }}</span>
				</p>
				<h2>
					<a href="{{ article.url }}">{{ article.title }}</a>
				</h2>
			</header>
			<section class="content">
				{{ article.intro }}
				{% if article.hasMore %}
					<p class="more">
						<a href="{{ article.url }}">more</a>
					</p>
				{% endif %}
			</section>
		</article>
	{% endfor %}

	<div class="nav">
		{% if prevPage %}
			<a href="{{ prevPage.url }}"> « Newer</a>
		{% else %}
			<a href="/archive.html"> « Archives</a>
		{% endif %}
		{% if nextPage %}
			<a href="{{ nextPage.url }}"> Next page »</a>
		{% endif %}
	</div>
{% endblock %}